aiofiles==0.6.0
astroid==2.4.2
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dash==1.18.1
dash-core-components==1.14.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
falcon==2.0.0
fastapi==0.63.0
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
h11==0.12.0
httptools==0.1.1
idna==2.10
imageio==2.9.0
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.5
pandas==1.2.0
Pillow==8.1.0
plotly==4.14.3
pydantic==1.7.3
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
retrying==1.3.3
six==1.15.0
starlette==0.13.6
terminaltables==3.1.0
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.3
uvloop==0.14.0
validr==1.2.0
watchgod==0.6
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
